// Кастомный чекбокс
.form-checkbox {
  display: inline-block;
  position: relative;

  margin-top: 20px;
  margin-bottom: 30px;
}
.form-checkbox__input {
  opacity: 0;

  &:checked + .icon-checkbox {
    background-color: getColor('primary-link');
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus + .icon-checkbox {
    box-shadow: 0 0 0 2.7px getColor('secondary-text');
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:checked:focus + .icon-checkbox {
    background-color: getColor('primary-link');
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.form-checkbox__label {
  padding-left: 16px;
}
.form-checkbox__link {
  text-decoration-line: underline;
  color: getColor('primary-link');
}
.icon-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-color: getColor('primary-bg');
  box-shadow: 0 0 0 2px getColor('secondary-text');
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
