.social-icons {
  display: inline-flex;
}
.social-icons__item + .social-icons__item {
  margin-left: 10px;
}
.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor('primary-link');
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social-icons__img {
  width: 20px;
  height: 20px;
  fill: getColor('primary-icon');
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link:hover .social-icons__img,
.social-icons__link:focus .social-icons__img {
  fill: getColor('primary-bg');
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
